.container {
    background-image: url("images/stars-background.jpg");
    background-position: left top;
    background-repeat: repeat;
    background-attachment: fixed;
    border-radius: 8px;
    height: 100%;
    margin: auto;
    padding: 25px;
    width: 80%;
}

.main-title {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
}

.main-title-line-two {
    color: white;
    font-family:monospace;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.nav-bar {
    background-color: rgb(79, 223, 122);;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}

.nav-bar a {
    font-size: 18px;
    padding: 16px 59px;
}

.learning-dropdown-menu {
    float: left;
    overflow: hidden;
}

.learning-dropdown-menu .learning-button, .about-us-btn, .contact-btn, .planet-science-button, .art-button, .history-button {
    background-color: inherit;
    border: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    outline: none;
    padding: 14px 90px;
}

.nav-bar a:hover, .learning-dropdown-menu:hover, .learning-button:hover, .about-us-btn:hover, .contact-btn:hover, .planet-science-button:hover, .history-button:hover, .art-button:hover {
    background-color: rgb(32, 97, 218);
    color: white;
}

.planet-learning-content {
    background-color: rgb(79, 223, 122);
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
}

.planet-learning-content a {
    display: block;
    float: none;
    padding: 14px 28px;
    text-align: left;
}

.learning-dropdown-menu:hover .planet-learning-content {
    display: block;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}

.space-kids {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.company-para {
    color: white;
    font-family: monospace;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.planet-science-section {
    display: none;
    height: 100%;
}

.footer {
    color: white;
}