.space-kids {
  height: 50%;
  width: 75%;
}

.nav-list li {
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
  border-radius: 80px;
  color: #fff;
  list-style-type: none;
  padding: 1rem;
}

.nav-list li:hover {
  background-color: lightblue;
  color: rgb(89, 231, 89);
  transition: 0.5s;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
}

.container {
  background-image: url("/images/stars-background.jpg");
  background-position: left top;
  background-repeat: repeat;
  background-attachment: fixed;
  border-radius: 8px;
  height: 100%;
  margin: auto;
  padding: 25px;
  width: 100%;
}

.main-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 55px;
  font-weight: bolder;
  text-align: center;
}

.main-title-line-two {
  color: white;
  font-family: monospace;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

.nav-bar {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
}

.nav-bar a {
  font-size: 18px;
  padding: 16px 40px;
}
.space-kids {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.company-para {
  color: white;
  font-family: monospace;
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

.footer {
  color: white;
  text-align: center;
  margin-top: 25%;
}

#app {
  
  color:white;
}

.grid-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

.nasa-api-img {
  width: 30%;
}
